<section id="section-about" class="section" data-view="about">
	<div class="section__header">
		<h3>About GitLens</h3>
	</div>
	<p>
		<b>GitLens</b> is a free open-source extension for Visual Studio Code with over <b>13 million installs</b> and
		almost <b>79 million downloads</b>. GitLens was created by Eric Amodio in 2016 and was developed and maintained
		nearly exclusively by Eric in his spare time until October 2021 when he joined
		<a title="Learn more about GitKraken" href="https://www.gitkraken.com/" target="_blank"><b>GitKraken</b></a> as
		Chief Technology Officer. Eric now leads the development of GitLens and GitKraken’s popular Git collaboration
		and productivity tools for developers.
	</p>
	<p>
		Eric is an innovator, leader, architect, and seasoned full-stack developer. He joined forces with the GitKraken
		team to lead the continued development of GitLens for VS Code users, transitioning his GitLens involvement from
		a passion project on nights and weekends, to a full-time focus. With GitKraken, GitLens has the full support and
		resources of a leading software company that specializes in Git collaboration and productivity solutions for
		development teams.
	</p>
	<p>
		<a
			title="Learn more about GitKraken and GitLens joining forces!"
			href="https://www.gitkraken.com/blog/gitkraken-acquires-gitlens-for-visual-studio-code"
			target="_blank"
			>Find out more</a
		>
		about <b>GitLens and GitKraken joining forces</b> and visit our
		<a title="Jump to the FAQ" href="#faq">FAQs page</a>.
	</p>
	<p>
		<a
			title="Read reviews on the Visual Studio Marketplace"
			href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens#review-details"
			target="_blank"
			>Read the reviews</a
		>
		to see what people are saying about GitLens. Below is our favorite review. 😁
	</p>
	<div class="gitlens__tweet">
		<blockquote class="twitter-tweet" data-cards="hidden" data-lang="en">
			<p lang="en" dir="ltr">
				I have never seen such an amazing plugin for
				<a href="https://twitter.com/code?ref_src=twsrc%5Etfw" target="_blank">@code</a> as GitLens. You NEED to
				try this. NOW. <a href="https://t.co/LFmrzEszZy" target="_blank">GitLens</a> by
				<a href="https://twitter.com/eamodio?ref_src=twsrc%5Etfw">@eamodio</a>
			</p>
			&mdash; Scott Hanselman (@shanselman)
			<a href="https://twitter.com/shanselman/status/908123838768078848?ref_src=twsrc%5Etfw" target="_blank"
				>September 14, 2017</a
			>
		</blockquote>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</section>
