<section id="section-faq" class="section" data-view="faq">
	<div class="section__header">
		<h3>GitLens FAQ</h3>
	</div>

	<div class="acquisition-notice acquisition-notice--faq">
		<figure>
			<a
				title="Learn more about GitKraken and GitLens joining forces!"
				href="https://www.gitkraken.com/blog/gitkraken-acquires-gitlens-for-visual-studio-code"
				target="_blank"
			>
				<img class="" src="../../assets/gk+gl-notice.png" />
			</a>
		</figure>
	</div>
	<ul class="faq__list">
		<li>
			<span class="faq__question">GitLens was acquired?</span>
			<span class="faq__answer"
				>Yes! We are SO excited to announce that GitLens was acquired by
				<a
					title="Learn more about GitKraken"
					href="https://www.gitkraken.com?utm_source=pr&utm_medium=gitlens_press_release&utm_campaign=gitlens_acquisition_announcement"
					target="_blank"
					>GitKraken</a
				>
				in October 2021.</span
			>
		</li>
		<li>
			<span class="faq__question">Who acquired GitLens?</span>
			<span class="faq__answer">
				<a
					title="Learn more about GitKraken"
					href="https://www.gitkraken.com?utm_source=pr&utm_medium=gitlens_press_release&utm_campaign=gitlens_acquisition_announcement"
					target="_blank"
					>GitKraken</a
				>, a US-based company that is focused on developer productivity tools, has acquired GitLens. GitKraken
				is the leading provider of Git productivity and collaboration solutions like the GitKraken
				<a
					title="Learn more about our Git client"
					href="https://www.gitkraken.com?utm_source=pr&utm_medium=gitlens_press_release&utm_campaign=gitlens_acquisition_announcement"
					target="_blank"
					>Git client</a
				>
				and
				<a
					title="Learn more about our Jira Git integration"
					href="https://marketplace.atlassian.com/apps/4984/git-integration-for-jira"
					target="_blank"
					>Git Integration for Jira</a
				>, which are relied on by 6 million developers in agile DevOps teams at 85,000 companies around the
				world.
			</span>
		</li>
		<li>
			<span class="faq__question">
				Will GitLens continue to be developed, and will Eric Amodio still be involved?
			</span>
			<span class="faq__answer">
				100%. Eric is joining GitKraken as Chief Technology Officer to lead the continued development of GitLens
				and GitKraken’s popular Git collaboration and productivity tools. He is transitioning his GitLens
				involvement from spare-time to full-time focus, and will continue to be its lead developer. At
				GitKraken, GitLens will have the full support and resources of a leading software company that
				specializes in Git collaboration and productivity solutions for development teams.
			</span>
		</li>
		<li>
			<span class="faq__question">Will GitLens continue to be free and open-source?</span>
			<span class="faq__answer">
				Yes, GitKraken is fully committed to the on-going development and evolution of GitLens for VS Code.
				GitLens will continue to be free and open source and will keep evolving while we also explore adding
				GitLens+ features and services built upon GitLens to help teams accelerate their development through
				Git-centric collaboration, code comprehension, and visualization.
			</span>
		</li>
		<li>
			<span class="faq__question">Will I lose access to any features I rely upon today?</span>
			<span class="faq__answer">
				No, you will continue to have access to all the GitLens features you know and love, for free.
			</span>
		</li>
	</ul>
</section>
