<section id="section-features" class="section" data-view="features">
	<h3>GitLens Features</h3>
	<p>
		GitLens simply helps you <b>better understand code</b>. Quickly glimpse into whom, why, and when a line or code
		block was changed. Jump back through history to <b>gain further insights</b> as to how and why the code evolved.
		Effortlessly explore the history and evolution of a codebase. Dive right in and see how GitLens can help!
	</p>
	<p>
		While GitLens is <b>powerful and feature rich</b>, it is also highly customizable to meet your specific needs
		&mdash; find code lens intrusive or the current line blame annotation distracting &mdash; no problem, it is
		quick and easy to turn them off or change how they behave via the built-in
		<a
			title="Open the GitLens docs"
			href="https://github.com/eamodio/vscode-gitlens/tree/master/#configuration"
			target="_blank"
			>settings editor </a
		>, an interactive editor covering many of GitLens' powerful settings. While for more advanced customizations,
		refer to the
		<a
			title="Open the GitLens docs"
			href="https://github.com/eamodio/vscode-gitlens/tree/master/#gitlens-settings-"
			target="_blank"
			>GitLens settings docs</a
		>
		and edit your user settings.
	</p>
	<p>Here are just some of the <b>features</b> that GitLens provides,</p>
	<ul class="section-list">
		<li>
			an unobtrusive
			<a
				title="Open the GitLens docs"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#current-line-blame-"
			>
				current line blame
			</a>
			annotation at the end of the line with detailed blame information accessible via
			<a title="Open the GitLens docs" href="https://github.com/eamodio/vscode-gitlens/tree/master/#hovers-"
				>hovers</a
			>
			<div class="feature_preview">
				<a
					title="Open the GitLens docs"
					href="https://github.com/eamodio/vscode-gitlens/tree/master/#current-line-blame-"
				>
					<img
						src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/current-line-blame.png"
					/>
				</a>
				<a title="Open the GitLens docs" href="https://github.com/eamodio/vscode-gitlens/tree/master/#hovers-">
					<img
						src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/hovers-current-line.png"
					/>
				</a>
			</div>
		</li>
		<li>
			on-demand
			<a
				title="Open the GitLens docs"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#gutter-blame-"
			>
				gutter blame
			</a>
			annotations, including a heatmap, for the whole file
			<div class="feature_preview">
				<a
					title="Open the GitLens docs"
					href="https://github.com/eamodio/vscode-gitlens/tree/master/#gutter-blame-"
				>
					<img
						src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/gutter-blame.png"
					/>
				</a>
			</div>
		</li>
		<li>
			<a title="Open the GitLens docs" href="https://github.com/eamodio/vscode-gitlens/tree/master/#code-lens-">
				authorship code lens
			</a>
			showing the most recent commit and # of authors to the top of files and/or on code blocks
			<div class="feature_preview">
				<a
					title="Open the GitLens docs"
					href="https://github.com/eamodio/vscode-gitlens/tree/master/#code-lens-"
				>
					<img
						src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/code-lens.png"
					/>
				</a>
			</div>
		</li>
		<li>
			on-demand
			<a
				title="Open the GitLens docs"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#gutter-heatmap-"
			>
				gutter heatmap
			</a>
			annotations to show how recently lines were changed, relative to all the other changes in the file and to
			now (hot vs. cold)
			<div class="feature_preview">
				<a
					title="Open the GitLens docs"
					href="https://github.com/eamodio/vscode-gitlens/tree/master/#gutter-heatmap-"
				>
					<img
						src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/heatmap.png"
					/>
				</a>
			</div>
		</li>
		<li>
			on-demand
			<a
				title="Open the GitLens docs"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#recent-changes-"
			>
				recent changes
			</a>
			annotations to highlight lines changed by the most recent commit
			<div class="feature_preview">
				<a
					title="Open the GitLens docs"
					href="https://github.com/eamodio/vscode-gitlens/tree/master/#recent-changes-"
				>
					<img
						src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/recent-changes.png"
					/>
				</a>
			</div>
		</li>
		<li>
			a
			<a
				title="Open the GitLens docs"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#status-bar-blame-"
			>
				status bar blame
			</a>
			annotation showing author and date for the current line
			<div class="feature_preview">
				<a
					title="Open the GitLens docs"
					href="https://github.com/eamodio/vscode-gitlens/tree/master/#status-bar-blame-"
				>
					<img
						src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/status-bar.png"
					/>
				</a>
			</div>
		</li>
		<li>
			many rich Side Bar views
			<ul class="section-list section-list--nested">
				<li>
					a
					<a
						title="Open the GitLens docs"
						href="https://github.com/eamodio/vscode-gitlens/tree/master/#repositories-view-"
					>
						<i>Repositories</i> view
					</a>
					to visualize, navigate, and explore Git repositories
					<div class="feature_preview">
						<a
							title="Open the GitLens docs"
							href="https://github.com/eamodio/vscode-gitlens/tree/master/#repositories-view-"
						>
							<img
								src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/view-repositories.png"
							/>
						</a>
					</div>
				</li>
				<li>
					a
					<a
						title="Open the GitLens docs"
						href="https://github.com/eamodio/vscode-gitlens/tree/master/#file-history-view-"
					>
						<i>File History</i> view
					</a>
					to visualize, navigate, and explore the revision history of the current file
					<div class="feature_preview">
						<a
							title="Open the GitLens docs"
							href="https://github.com/eamodio/vscode-gitlens/tree/master/#file-history-view-"
						>
							<img
								src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/view-file-history.png"
							/>
						</a>
					</div>
				</li>
				<li>
					a
					<a
						title="Open the GitLens docs"
						href="https://github.com/eamodio/vscode-gitlens/tree/master/#line-history-view-"
					>
						<i>Line History</i> view
					</a>
					to visualize, navigate, and explore the revision history of the selected lines of current file
					<div class="feature_preview">
						<a
							title="Open the GitLens docs"
							href="https://github.com/eamodio/vscode-gitlens/tree/master/#line-history-view-"
						>
							<img
								src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/view-line-history.png"
							/>
						</a>
					</div>
				</li>
				<li>
					a
					<a
						title="Open the GitLens docs"
						href="https://github.com/eamodio/vscode-gitlens/tree/master/#search-commits-view-"
					>
						<i>Search Commits</i> view
					</a>
					to search and explore commit histories by message, author, files, id, etc
					<div class="feature_preview">
						<a
							title="Open the GitLens docs"
							href="https://github.com/eamodio/vscode-gitlens/tree/master/#search-commits-view-"
						>
							<img
								src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/view-search.png"
							/>
						</a>
					</div>
				</li>
				<li>
					a
					<a
						title="Open the GitLens docs"
						href="https://github.com/eamodio/vscode-gitlens/tree/master/#compare-view-"
					>
						<i>Compare</i> view
					</a>
					to visualize comparisons between branches, tags, commits, and more
					<div class="feature_preview">
						<a
							title="Open the GitLens docs"
							href="https://github.com/eamodio/vscode-gitlens/tree/master/#compare-view-"
						>
							<img
								src="https://raw.githubusercontent.com/eamodio/vscode-gitlens/master/images/docs/view-compare.png"
							/>
						</a>
					</div>
				</li>
			</ul>
		</li>
		<li>
			many
			<a
				title="Open the GitLens docs"
				href="https://github.com/eamodio/vscode-gitlens/tree/master/#navigate-and-explore-"
				>powerful commands</a
			>
			for exploring commits and histories, comparing and navigating revisions, stash access, repository status,
			etc
		</li>
		<li>
			supports user-defined
			<a title="Open the GitLens docs" href="https://github.com/eamodio/vscode-gitlens/tree/master/#modes-"
				>modes</a
			>
			for quickly toggling between sets of settings
		</li>
		<li>
			and so much
			<a title="Open the GitLens docs" href="https://github.com/eamodio/vscode-gitlens/tree/master/#and-more-"
				>more</a
			>
		</li>
	</ul>
</section>
