@import '_normalize';

body:not(.is-section--about) #section-about,
body:not(.is-section--sponsor) #section-sponsor,
body:not(.is-section--features) #section-features,
body:not(.is-section--whats-new) #section-whats-new {
	display: none;
}

body.is-section--about #about-button,
body.is-section--sponsor #sponsor-button,
body.is-section--features #features-button,
body.is-section--whats-new #whats-new-button {
	background: white !important;
	color: black !important;
}

html {
	box-sizing: border-box;
	color: #222;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	height: 100%;
	line-height: 1.4;
	overflow: hidden;
	width: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: url(../assets/bg.jpg) 50% 50% / cover no-repeat;
	background-color: #120024;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: relative;
	-webkit-overflow-scrolling: touch;

	&.is-section {
		overflow: hidden;

		&.complete {
			.hero {
				position: absolute;
			}
		}
	}
}

a {
	border: 0;
	color: #ba7dd9;
	font-weight: 400;
	outline: none;
	text-decoration: none;
	transition: color 250ms;

	&:hover,
	&:focus {
		color: #914db3;
	}
}

.setting-key {
	background-color: rgba(255, 255, 255, 0.25);
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	border-radius: 3px;
	font-family: monospace;
	padding: 1px 5px;
	vertical-align: text-bottom;
}

.header {
	align-items: baseline;
	background: transparent;
	color: white;
	display: flex;
	flex: 3em 0 0;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 1em 1em 0 1em;
	top: 0;
}

.header__headine {
	cursor: pointer;
	flex: auto 1 0;
	height: 26px; // no idea why
	margin: 0;
	max-width: 960px;
	transform: translate(-0.75em, -300%);
	transform-origin: top left;
	transition: transform 500ms cubic-bezier(1, 0.4, 0.7, 1.5);

	body.is-section & {
		transform: translate(-0.75em, 5%);
		transition-delay: 600ms;
	}

	body.preload & {
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}

.header__headline-image {
	left: 0;
	position: absolute;
	top: -19px;
	width: 250px;
}

.button {
	background: none;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 0.8em;
	letter-spacing: 0.25em;
	margin: 0 0.5em;
	padding: 1em 1.75em;
	text-decoration: none;
	text-transform: uppercase;
	user-select: none;
	white-space: nowrap;

	&:focus {
		outline: none;
	}
}

.button .via {
	font-size: 0.65em;
	position: relative;
	top: -1px;
}

.button--flat {
	background: rgba(0, 0, 0, 0.3);
	@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
		backdrop-filter: blur(10px);
		background: rgba(0, 0, 0, 0.2);
	}
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: white !important;
	transition: background-color 250ms, border-color 250ms, color 250ms;

	&:hover {
		background-color: white;
		color: black !important;

		& .button__icon--svg {
			filter: invert(100%);
		}
	}

	body.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-inverse {
	background-color: white;
	border: 1px solid white;
	color: black !important;
	font-weight: 600;
	transition: background-color 250ms, border-color 250ms, color 250ms;

	&:hover {
		background: rgba(0, 0, 0, 0.3);
		@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
			backdrop-filter: blur(10px);
			background: rgba(0, 0, 0, 0.2);
		}
		border-color: rgba(255, 255, 255, 0.6);
		color: white !important;

		& .button__icon--svg {
			filter: invert(0%);
		}
	}

	& .button__icon--svg {
		filter: invert(100%);
	}

	body.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-primary {
	background-color: #914db3;
	border: 1px solid #914db3;
	color: white !important;
	font-weight: 600;
	transition: background-color 250ms, border-color 250ms, color 250ms;

	&:hover {
		background-color: white;
		border-color: black;
		color: black !important;

		& .button__icon--svg {
			filter: invert(100%);
		}
	}

	body.preload & {
		transition-duration: 0s !important;
	}
}

.button--flat-secondary {
	background-color: black;
	border: 1px solid black;
	color: white !important;
	font-weight: 600;
	transition: background-color 250ms, border-color 250ms, color 250ms;

	&:hover {
		background-color: white;
		border-color: black;
		color: black !important;

		& .button__icon--svg {
			filter: invert(100%);
		}
	}

	body.preload & {
		transition-duration: 0s !important;
	}
}

.button__content--version {
	font-weight: 400;
	text-transform: none;
}

.button__icon--svg {
	position: relative;
	top: 4px;
	transition: filter 250ms;
	width: 14px;
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	& .button {
		white-space: nowrap;
	}
}

.button-group--sponsor-primary {
	font-size: 0.5em;
	justify-content: center;
	margin: 1em 0 0 0;

	& .button {
		margin: 1em 1.5em;
		white-space: nowrap;
	}
}

.button-group--sponsor-secondary {
	font-size: 0.4em;
	justify-content: space-evenly;
	margin: 0 0 1em 0;

	& .button {
		margin: 1em 1.5em;
		white-space: nowrap;
	}
}

.button-group--cta-left {
	flex: auto 0 0;

	.sponsor--github {
		margin: 0 -0.5em 0 0;
	}
}

p.button__badge {
	font-size: 0.5em;
	margin-top: 1em;
	margin-bottom: -1em;
	text-align: center;
}

.button__info {
	font-size: 0.8em;
	margin-top: 1.25em;

	.cta__secondary & {
		margin-top: 1.5em;
		max-width: 25em;
	}
}

.main {
	flex: auto 1 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.hero {
	color: rgba(237, 228, 241, 0.75);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	font-size: 1.25em;
	margin: 0 auto;
	max-width: 1200px;
	text-align: justify;
	transition: transform 1s cubic-bezier(0.01, 0.3, 0.75, -1);

	body.is-section & {
		transform: translateX(-150%);
	}

	body.preload & {
		transition-duration: 0s !important;
		visibility: hidden;
	}
}

.sections {
	animation: fade-out 500ms ease-out 1 forwards;
	background: rgba(255, 255, 255, 0.95);
	@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
		backdrop-filter: blur(10px);
		background: rgba(255, 255, 255, 0.85);
	}
	border: 1px solid rgba(127, 0, 255, 0.2);
	border-radius: 0.5em;
	bottom: 0;
	color: #272727;
	display: flex;
	flex-direction: column;
	font-size: 2.5em;
	left: 0;
	margin: 2em auto;
	max-width: 960px;
	min-height: 100px;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(0.9);
	transition: transform 500ms cubic-bezier(0.8, -0.5, 0.2, 1.5);
	visibility: hidden;

	body.is-section & {
		animation: fade-in 500ms 750ms ease-in 1 forwards;
		transform: scale(1);
		transition-delay: 600ms;
	}

	body.preload &,
	body.complete & {
		animation-delay: 0s !important;
		animation-duration: 0s !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}

.sections__footer {
	position: fixed;
	bottom: 1em;
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 3em);
}

.sections__scroller {
	margin: 0.5em 0;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;

	.section--has-footer & {
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		margin-bottom: 1.5em;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	1% {
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.cta__primary {
	flex: 100% 0 0;
}

.cta__secondary {
	font-size: 0.9em;
	margin-top: 2em;
}

.section {
	margin: 0 1em;
	position: relative;

	& a {
		color: #a14dcb;

		&:hover,
		&:focus {
			color: #ba7dd9;
		}
	}

	& h3 {
		margin: 0;
		text-align: center;

		& a {
			color: inherit;
			font-weight: 700;

			&:hover {
				color: inherit;
			}
		}

		&.subhead {
			font-size: smaller;
			margin: 0;
			text-align: left;
		}
	}

	& h4 {
		font-size: 0.8em;
		margin: 0 0 0.5em 0;
		text-align: center;
		font-weight: 200;
	}

	& h5 {
		font-size: 0.45em;
		margin: 1.5em 0 0 0;
	}

	& p {
		font-size: 0.45em;
	}

	& sup {
		font-size: 0.6em;
	}

	& p.footnote {
		font-size: 0.3em;
		margin-top: 2em;
		padding-top: 1em;
	}

	& p.sponsors {
		font-size: 0.3em;
	}
}

.section-header {
	display: flex;
	flex: auto 0 0;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 3em;
}

.section-header__image {
	text-align: center;
}

.section-body {
	color: rgba(237, 228, 241, 0.75);
	font-weight: 300;
	margin: 0 6em;
	flex: auto 1 0;
	display: flex;
	flex-direction: column;

	p {
		margin-bottom: 0;
	}
}

.section__cta {
	display: flex;
	flex: auto 0 0;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2em;
	text-align: center;
}

.on-section-change-fade {
	transition: opacity 750ms ease-in;

	body.is-section & {
		opacity: 0;
		transition: opacity 500ms ease-out;
	}

	body.preload & {
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}

.section__back-button {
	border-radius: 50%;
	box-shadow: #bbb 1px 1px 25px;
	cursor: pointer;
	display: inline-flex;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale(0.75);
	z-index: 10;

	& svg circle {
		transition: fill 300ms ease-out;
	}

	& svg:hover circle {
		fill: white;
		transition: fill 200ms ease-out;
	}
}

.section-list {
	font-size: 0.45em;
	list-style: disc;
	margin: 0.5em 1em;
	padding-left: 1em;
}

.section-list--nested {
	font-size: inherit;
	margin: 0.5em 0;
}

.feature_preview {
	display: flex;
	justify-content: space-evenly;
	margin: 1em 0;

	.section-list--nested & {
		margin-left: -2em;
	}

	a {
		flex: 35% 0 1;
	}

	// img {
	// 	width: 100%;
	// }
}

.feature_preview--clip {
	filter: drop-shadow(0px 0px 5px #000000a0);

	img {
		clip-path: inset(9px round 8px);
	}
}

.changelog__list {
	font-size: 0.45em;
	list-style-type: none;
	margin: 2em 0;
	padding: 0;

	& i {
		font-weight: 200;
	}

	& > li {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;
		margin: 0;

		&:after {
			border-left: 1px solid rgba(122, 122, 122, 0.15);
			content: ' ';
			position: absolute;
			top: 24px;
			left: 31px;
			height: calc(100% - 17px);
			z-index: -1;
		}

		&.changelog__list-item--version {
			margin: 2em 0 1em 0;

			&:before {
				border-top: 1px solid rgba(122, 122, 122, 0.15);
				content: ' ';
				position: absolute;
				top: -1.5em;
				left: 0;
				width: 100%;
				z-index: -1;
			}

			&:after {
				border-left: 1px solid rgba(122, 122, 122, 0.15);
				content: ' ';
				position: absolute;
				top: 28px;
				left: 31px;
				height: calc(100% + 0.5em - 21px);
				z-index: -1;
			}

			&:first-child {
				margin-top: 0;

				&:before {
					display: none;
				}
			}
		}

		& .changelog__details > *:last-child {
			margin-bottom: 0.5rem;
		}

		&.changelog__list-item--sub {
			.changelog__badge {
				max-width: 19px;
				margin-left: 46px;
				margin-right: calc(1.25em - 1px);

				&:before {
					border-top: 1px solid rgba(122, 122, 122, 0.15);
					content: ' ';
					position: absolute;
					top: 13px;
					left: 32px;
					width: 22px;
					z-index: -1;
				}

				&:after {
					border-left: 1px solid rgba(122, 122, 122, 0.15);
					content: ' ';
					position: absolute;
					top: -2px;
					left: 31px;
					height: 26px;
					z-index: -1;
				}
			}

			.changelog__details--list {
				ul {
					margin-left: 3.5rem;
				}
			}
		}

		&.changelog__list-item--sub + :not(.changelog__list-item--sub),
		&:not(.changelog__list-item--sub) + .changelog__list-item--sub,
		&:not(.changelog__list-item--sub) + :not(.changelog__list-item--sub) {
			margin-top: 0.5rem;
		}
	}

	& code {
		background: rgba(0, 0, 0, 0.05);
		border-radius: 4px;
		font-size: 0.75em;
		padding: 3px 6px;
		vertical-align: middle;
	}
}

.changelog__badge {
	background-color: #0366d6;
	border-radius: 3px;
	box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);
	color: #e6e6e6;
	display: inline-block;
	font-size: 11px;
	font-weight: 600;
	margin-top: 0.25rem;
	margin-right: 1.25em;
	padding: 2px 5px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 65px;
	flex: 0 0 65px;
}

.changelog__badge--added {
	background-color: #28a745;
}

.changelog__badge--changed,
.changelog__badge--fixed {
	background-color: #0366d6;
}

.changelog__badge--removed {
	background-color: #d73a49;
}

.changelog__badge--version {
	background-color: #914db3;
	font-size: 15px;
	margin-top: 0;
}

.changelog__content {
	text-indent: -0.5em;
	margin-left: 0.5em;
	flex: 1 1 calc(100% - 133px);
}

.changelog__date {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	font-weight: 600;
	font-variant: small-caps;
	opacity: 0.9;
	margin-left: -7px;
	vertical-align: middle;
}

.changelog__details {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	padding: 0 0 0 2em;
	position: relative;

	.changelog__image + ul {
		margin-top: 0.5rem;
	}

	> *:first-child {
		margin-top: 0.5rem;
	}
}

.changelog__details--list {
	flex-direction: column;

	& p {
		align-self: flex-start;
		font-size: 0.9em;
		margin-bottom: 0;
	}

	& p:last-child {
		margin-bottom: 1em;
	}

	ul {
		list-style: none;
		padding: 0 0 0 1rem;
		margin-left: 2.5rem;

		li {
			text-indent: -0.5em;
			margin-left: 0.5em;
		}
	}
}

.changelog__image-link {
	text-align: center;
}

.changelog__image {
	cursor: pointer;
	display: block;
	min-width: 150px;
	max-width: 150px;
	transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: scale(1) translate(50%, 0%);
	transform-origin: left;

	&.expand {
		filter: drop-shadow(0px 0px 7px #000);
		transform: scale(4) translate(0%, calc(50% - 0.75rem));
		z-index: 1000;
	}

	&.changelog__image--clip {
		filter: drop-shadow(0px 0px 1px #000000a0);

		img {
			max-width: 100%;
			clip-path: inset(2px round 3px);
		}
	}
}

.changelog__version {
	background-color: #914db3;
	border-bottom: 2px solid #914db3;
	border-radius: 8px;
	color: #f2f2f2;
	padding: 2px 10px;
	text-align: center;
	vertical-align: bottom;
	white-space: nowrap;
}

.gitlens__image {
	width: 100%;
}

.gitlens__badges {
	margin: 1em 0 0 0;
	text-align: center;
	flex: auto 0 0;

	& > a {
		display: inline-block;
		margin: 0.15em;

		&:last-child {
			display: block;
		}
	}
}

.gitlens__tweet {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
}

p.gitlens__tweet-caption {
	font-size: 0.4em;
	margin-top: 0;
}

.twitter-tweet {
	visibility: inherit !important;

	& iframe {
		visibility: inherit !important;
	}
}

blockquote {
	&:before {
		color: #7a7a7a;
		content: '\201C';
		font-size: 2em;
		left: -0.75em;
		line-height: 1;
		position: relative;
		top: 0.5em;
	}

	&:after {
		color: #7a7a7a;
		content: '\201D';
		display: block;
		font-size: 2em;
		height: 0.5em;
		left: -0.75em;
		line-height: 1;
		position: relative;
		top: -1.25em;
	}

	&.twitter-tweet {
		background: white;
		border: 1px solid rgb(225, 232, 237);
		border-radius: 4px;
		font-size: 0.35em;
		min-width: 220px;
		padding: 0 1em 0.25em 2.75em;
		max-width: 520px;

		& p {
			font-size: 1.25em;
			margin: 0 0 1em 0;
		}
	}
}

footer {
	margin-top: 2em;
	flex: auto 0 0;

	& a {
		color: rgba(255, 255, 255, 0.7);
		letter-spacing: 0.1em;
		transition: color 250ms;

		&:hover {
			color: white;
		}
	}
}

.footer__links {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 0 1rem 0;
	padding: 0;

	& * {
		align-items: center;
		display: flex;
	}
}

.footer__link {
	display: inline-block;
	padding: 0 1rem;
	position: relative;

	& a {
		display: block;
		font-weight: normal;

		& svg {
			width: 25px;
			height: 25px;

			& path {
				transition: fill 300ms ease-out;
			}

			&:hover path {
				fill: #914db3;
				transition: fill 200ms ease-out;
			}
		}
	}
}

.footer__copyright {
	color: rgba(255, 255, 255, 0.5);
	display: block;
	font-size: 0.75rem;
	font-weight: 100;
	letter-spacing: 0.25em;
	opacity: 0.99; /* no idea why this is required */
	text-align: center;
	text-transform: uppercase;
}

.sponsor__header {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;

	h3 {
		flex: 100% 1 1;
	}
}

.sponsors {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

	h2 {
		font-weight: 200;
	}

	h2.footer {
		font-size: 0.8em;
	}

	h4.footer {
		font-size: 0.6em;
	}
}

.sponsor-me__image {
	background-size: cover;
	border-radius: 50%;
	box-shadow: black 1px 1px 25px;
	height: 3em;
	margin: 1em 1em 0.5em 0.5em;
	float: left;
	width: 3em;
}

.sponsor__image {
	width: 75%;
}

.sponsor__image--hero {
	width: 65%;
	filter: grayscale(100%);
	opacity: 0.7;
	transition: filter 250ms, opacity 250ms;

	&:hover {
		filter: unset;
		opacity: 0.9;
	}
}

.sponsor__image-link {
	text-align: center;
}

.heart {
	background-clip: text;
	background-color: #120024;
	bottom: 0;
	color: transparent;
	font-size: 7em;
	left: 50%;
	opacity: 0.05;
	position: absolute;
	text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
	transform: translateX(-50%);
}

.bold {
	font-weight: 400;
}

.center {
	text-align: center !important;
}

div.center,
img.center {
	display: block;
	margin: 0 auto;
}

.hide {
	display: none;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-05 {
	margin-bottom: 0.5em !important;
}

.mb-1 {
	margin-bottom: 1em !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-05 {
	margin-top: 0.5em !important;
}

.mt-1 {
	margin-top: 1em !important;
}

.mt-2 {
	margin-top: 2em !important;
}

.ml-0 {
	margin-left: 0 !important;
}

.ml-05 {
	margin-left: 0.5em !important;
}

.ml-1 {
	margin-left: 1em !important;
}

.mr-05 {
	margin-right: 0.5em !important;
}

.mr-1 {
	margin-right: 1em !important;
}

@media all and (max-width: 1120px) {
	.sections {
		margin-left: 2em;
		margin-right: 2em;
	}
}

@media all and (max-width: 860px) {
	.button-group--header {
		font-size: 0.8em;
	}

	.header__headline-image {
		width: 180px;
		top: -7px;
	}

	.changelog__image {
		&.expand {
			transform: scale(4) translate(calc(0% - 0.75rem), calc(50% - 0.75rem));
		}
	}
}

@media all and (max-width: 768px) {
	.sections {
		margin-left: 1em;
		margin-right: 1em;
	}

	.section-header,
	.section-body {
		margin: 0 2em;
	}

	.changelog__image {
		&.expand {
			transform: scale(4) translate(calc(0% - 0.6rem), calc(50% - 0.6rem));
		}
	}
}

@media all and (max-width: 700px) {
	html {
		font-size: 0.9em;
	}

	.changelog__image {
		&.expand {
			transform: scale(3.5) translate(calc(0% - 0.95rem), calc(50% - 0.75rem));
		}
	}
}

@media all and (max-width: 590px) {
	html {
		font-size: 0.7em;
	}

	.sponsor__header {
		justify-content: center;
	}

	// .button {
	//     margin-bottom: 1em;
	// }

	.button--flat {
		background: none;
	}

	.button-group {
		flex-wrap: wrap;

		&.button-group--header {
			flex-wrap: nowrap;
		}
	}

	.button-group--cta-left {
		font-size: 0.5em;
	}

	.button__icon {
		display: none;
	}

	.changelog__list {
		font-size: 0.6em;
	}

	.hero {
		font-size: 15px; // 1.3em;
	}

	.sections {
		margin: 1.75em 0.5em;
	}

	.sections__footer {
		bottom: 0.5em;
	}

	.footer__links {
		margin: 0 0 0.25em 0;
		transform: scale(0.75);
	}

	.gitlens__image {
		width: 75%;
	}

	.header {
		justify-content: center;
	}

	.header__headine {
		display: none;
	}

	.section-header,
	.section-body {
		margin: 0 1em;
	}

	.section-header__image {
		margin-bottom: -1em;
	}

	.section__back-button {
		left: -0.4em;
		top: -0.4em;
		transform: scale(0.4);
	}

	.section p {
		font-size: 0.6em;
	}

	.changelog__details--list {
		p {
			font-size: 0.8em;
			margin-bottom: 0;
		}
	}

	.changelog__image {
		&.expand {
			transform: scale(3) translate(calc(0% - 0.9rem), calc(50% - 1.2rem));
		}
	}
}

@media all and (max-width: 539px) {
	.changelog__image {
		&.expand {
			transform: scale(2.25) translate(calc(0% - 1.5rem), calc(50% - 1.75rem));
		}
	}
}

@media all and (max-width: 375px) {
	.changelog__image {
		&.expand {
			transform: scale(2.25) translate(calc(0% - 2.3rem), calc(50% - 1.75rem));
		}
	}
}

@media all and (max-width: 320px) {
	html {
		font-size: 0.6em;
	}

	.section__back-button {
		left: -0.6em;
		top: -0.6em;
		transform: scale(0.4);
	}

	.changelog__image {
		&.expand {
			transform: scale(2) translate(calc(0% - 2.9rem), calc(50% - 1.75rem));
		}
	}
}
