canvas.snow {
	max-width: calc(100% - 20px);
	pointer-events: none;
	position: fixed;
	z-index: 2147483646;
}

.snow__trigger {
	cursor: pointer;
	width: 76px;
	opacity: 0.5;
	transform: rotate(-7deg);
	transition: opacity 250ms, filter 250ms, transform 250ms;
	filter: grayscale(100%);

	body.snowing & {
		filter: none;
		opacity: 1;
	}

	&:hover {
		filter: none !important;
		opacity: 1;
		transform: rotate(-4deg) scale(1.1);
	}
}

@media all and (max-width: 590px) {
	.snow__trigger {
		width: 50px;
	}

	.snow__trigger--fixed-right {
		bottom: 2px !important;
		right: 2px !important;
	}
}

.snow__trigger--flipped {
	transform: rotate(4deg) scaleX(-1);

	&:hover {
		transform: rotate(1deg) scaleX(-1) scale(1.1);
	}
}

.snow__trigger--centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%) rotate(-7deg);

	&:hover {
		transform: translateY(-50%) rotate(-4deg) scale(1.1);
	}

	&.snow__trigger--flipped {
		transform: translateY(-50%) rotate(4deg) scaleX(-1);

		&:hover {
			transform: translateY(-50%) rotate(1deg) scaleX(-1) scale(1.1);
		}
	}
}

.snow__trigger--fixed-left {
	position: fixed;
	left: 18px;
	bottom: 18px;
	z-index: 2147483647;
}

.snow__trigger--fixed-right {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 2147483647;
}

.snow__trigger-container {
	margin: 0 0.5em;
}
