.changelog__version-link,
[data-action='showVersion'][data-version] {
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -25%;
		width: 150%;
		height: 100%;
		border-bottom: 2px solid #914db3;
		opacity: 0;
		transform: scaleX(0);
		transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
	}

	&:hover {
		&::after {
			transform: scaleX(0.4);
			opacity: 0.5;
		}
	}
}

.changelog__version-link {
	&.active::after {
		transform: scaleX(1);
		opacity: 1;
	}
}

[data-view='whats-new'] {
	&[data-version='11.5'] {
		[data-action='showVersion'][data-version='11.5']::after {
			transform: scaleX(1);
			opacity: 1;
		}

		[data-visibility='version'][data-version][data-version]:not([data-version='11.5']) {
			display: none !important;
		}
	}

	&[data-version='11.4'] {
		[data-action='showVersion'][data-version='11.4']::after {
			transform: scaleX(1);
			opacity: 1;
		}

		[data-visibility='version'][data-version][data-version]:not([data-version='11.4']) {
			display: none !important;
		}
	}

	&[data-version='11.3'] {
		[data-action='showVersion'][data-version='11.3']::after {
			transform: scaleX(1);
			opacity: 1;
		}

		[data-visibility='version'][data-version][data-version]:not([data-version='11.3']) {
			display: none !important;
		}
	}

	&[data-version='11.2'] {
		[data-action='showVersion'][data-version='11.2']::after {
			transform: scaleX(1);
			opacity: 1;
		}

		[data-visibility='version'][data-version][data-version]:not([data-version='11.2']) {
			display: none !important;
		}
	}

	&[data-version='11.1'] {
		[data-action='showVersion'][data-version='11.1']::after {
			transform: scaleX(1);
			opacity: 1;
		}

		[data-visibility='version'][data-version][data-version]:not([data-version='11.1']) {
			display: none !important;
		}
	}

	&[data-version='11.0'] {
		[data-action='showVersion'][data-version='11.0']::after {
			transform: scaleX(1);
			opacity: 1;
		}

		[data-visibility='version'][data-version]:not([data-version='11.0']) {
			display: none !important;
		}
	}
}
